* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	width: 100%;
	font-size: 16px;
	font-family: 'Vercetti';
}

canvas {
	height: 100vh!important;
	width: 100%!important;

	cursor: move; /* fallback if grab cursor is unsupported */
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

canvas:active {
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}